.chapter-index {
	background-color: #e1e1e1;
	padding: 8px 12px 6px 12px;
	position: relative;
}
.chapter-index .chapters-dropdown-trigger {
	border: solid 1px transparent;
	font-weight: 600;
	padding: 3px 3px 0;
	text-decoration: none;
}

.chapter-index.active .chapters-dropdown-trigger {
	background-color: white;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	border: solid 1px #c6c4b8;
	border-bottom: none;
	position: relative;
	z-index: 10;
}

.chapters-dropdown-panel {
	display: none;
	position: absolute;
	border: solid 1px #e2e0d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	top: 25px;
}
.chapter-index.active .chapters-dropdown-panel {
	background-color: white;
	display: block;
	left: 0;
	right: 0;
}
.example {
	margin: 0 auto;
	width: 80%;
}
.example h4 {
	text-transform: uppercase;
}
.entry-template {
	display: none;
}
.live-example {
	background: white;
	padding: 20px;
}
/* Hack to fix highlight.js being stupid */
.coffeescript .javascript, .javascript .xml, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata, .xml .php, .php .xml {
	opacity: 1;
}

.region-1 {
	border: 1px dashed #ddd;
	margin-bottom: 1em;
	min-height: 100px;
}